<h1><%= @player_1_name %> vs <%= @player_2_name %></h1>
<br>
<%= @player_1_name %> HP: <%= @player_1_hp %>
<br>
<%= @player_2_name %> HP: <%= @player_2_hp %>
<br>
<form name='attack_form' action='/attack' method='get'>
  <input type='submit' value='Attack'>
</form>
