<h1><%= @game.players[0].name %> vs <%= @game.players[1].name %></h1>
<br>
<%= @game.players[0].name %> HP: <%= @game.players[0].hp %>
<br>
<%= @game.players[1].name %> HP: <%= @game.players[1].hp %>
<br>
<form name='attack_form' action='/attack' method='get'>
  <input type='submit' value='Attack'>
</form>
